include LICENSE
include ACKNOWLEDGEMENTS.md
include ARCHITECTURE.md
include CHANGELOG.md
include CODING_STANDARD.md
include CONTRIBUTING.md
include EXTENDING.md
include FAQ.md
include README.md
include SECURITY.md
